<h1 class="mb-1 restaurant-show-title">新增餐廳</h1>

<div class="container my-4">
  <form action="/restaurants" method="POST">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name" class="text-danger">中文名稱</label>
        <input type="text" name="name" class="form-control" id="name" required>
      </div>
      <div class="form-group col-md-6">
        <label for="name_en">英文名稱</label>
        <input type="text" name="name_en" class="form-control" id="name_en">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="category" class="text-danger">類別</label>
        <input type="text" name="category" class="form-control" id="category" required>
      </div>
      <div class="form-group col-md-5">
        <label for="phone">電話</label>
        <input type="text" name="phone" class="form-control" id="phone">
      </div>
      <div class="form-group col-md-2">
        <label for="rating" class="text-danger">評分</label>
        <input type="number" placeholder="請輸入1 ~ 5分" name="rating" class="form-control" id="rating" step="0.1" min="1"
          max="5" required>
      </div>
    </div>

    <div class="form-group">
      <label for="location" class="text-danger">地址</label>
      <input type="text" name="location" class="form-control" id="location" required>
    </div>

    <div class="form-group">
      <label for="google_map">Google地圖位址</label>
      <input type="url" name="google_map" class="form-control" id="google_map"
        value="https://www.google.com/maps/place/" placeholder="https://www.google.com/maps/place/">
    </div>

    <div class="form-group">
      <label for="description">描述</label>
      <textarea type="text" placeholder="請描述此餐廳的特色" name="description" class="form-control" id="description"
        rows="4"></textarea>
    </div>

    <div class="form-group">
      <label for="image" class="text-danger">圖片URL</label>
      <input type="url" name="image" onerror="https://via.placeholder.com/600x400.pngblank.gif" class="form-control"
        value="http://" id="image" placeholder="http:// 或 https://" required>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="reset" name="clear" value="Reset" class="ml-2 btn btn-secondary btn-sm"
          onClick="if(!confirm('確定重置？')){return false}">
        <button type="submit" class="ml-2 btn btn-info btn-sm">Create</button>
      </div>
    </div>
  </form>
</div>